/*defining variables*/
:root {
  --background-color: #0a0b0e;
  --text-color: rgb(220, 220, 220);
  --text-hover-color: rgb(187, 137, 137);
  --off-white: rgb(155, 155, 155);
  --navbar-top: rgba(20, 20, 20, 0.35);
  --mobile-menu-shadow-color: rgba(0, 0, 0, 0.35);
  --transparent-color: rgba(30, 31, 41, 0.05);
  --subtle-border: rgba(255, 255, 255, 0.1);
  --customblue: rgb(20, 162, 228);
  --section-background: rgb(25, 28, 33);
  --footer-color: rgba(13, 13, 13, 0.45);
  --logo-background: rgba(255, 255, 255, 0.05);
  --buttons-color: rgba(24, 24, 33, 0.75);
  --text-xsmall: 0.8rem;
  --text-small: 1rem;
  --text-medium: 1.25rem;
  --text-large: 1.35rem;
  --text-xlarge: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: var(--text-small);
  background-color: var(--section-background);
  color: var(--text-color);
}

.section-one {
  min-height: calc(100vh - 120px);
  font-family: "Arimo";
  text-align: center;
  background-color: var(--section-background);
  display: flex;
  justify-content: center;
  padding-top: 125px;
  /* background-image: ; */
  background-image: linear-gradient(to top , var(--section-background), rgba(10, 10, 10, 0.8)), url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

.container-one {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  background-color: var(--footer-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  font-family: "Arimo";
  font-weight: 400;
  font-size: var(--text-xsmall);
  margin-top: 20px;
}

footer div a {
  color: white;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

footer div a:hover {
  color: var(--customblue);
  transition: 0.1s ease-in-out;
}

footer div a img {
  width: 30px;
  height: 30px;
  margin: 15px 3px 0px;
  opacity: 0.65;
  transition: 0.1s ease-in-out;
  z-index: 0;
}

footer div a img:hover {
  opacity: 1;
  transition: 0.1s ease-in-out;
}

@media only screen and (min-width: 680px) {
  footer {
    font-size: var(--text-small);
  }
}
